{% extends "survey/base.html" %} 
{% block content %}
{% load static %}
<div class="d-flex justify-content-center align-items-center h-100">
  <a href="{% url 'vis-man-signout'%}" class="card d-flex flex-column align-items-center justify-content-md-center text-decoration-none mx-5" style="width: 18rem; border-radius: 15%">
    <img src="{% static 'survey/logout.png' %}" class="card-img-top px-4" alt="...">
    <h1 class='text-dark pb-3'>Sign Out</h1>
  </a>
  <a href="{% url 'vis-man-sites'%}" class="card d-flex flex-column align-items-center justify-content-md-center text-decoration-none mx-5" style="width: 18rem; border-radius: 15%">
    <img src="{% static 'survey/login.png' %}" class="card-img-top px-4" alt="...">
    <h1 class='text-dark pb-3'>Sign In</h1>
  </a>
</div>
{% endblock content %}