{% extends "survey/base.html" %} {% block content %}
<div
  class="
    form-group
    d-flex
    flex-column
    align-items-center
    justify-content-center
    min-height-80
  "
>
  <form action="" method="post">
    {% csrf_token %} {{ signout_form.non_field_errors }} {% for field in signout_form %}
    <div class="mb-3">
      <div class="mb-2">{{ field.label }}</div>
      {{ field }}
    </div>
    {% endfor %}
    {% if signout_form.errors %}
      {% for field in signout_form %}
        {% for error in field.errors %} 
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endfor %}
    {% endif %} 
    <input type="submit" value="Sign Out" class="btn btn-dark" />
  </form>
</div>
{% endblock content %}
