{% extends "survey/base.html" %} {% block content %}
<div class="
    form-group
    d-flex
    flex-column
    align-items-center
    justify-content-center
    min-height-80
    my-5
    py-5
  ">
  <h1 class="fs-3 text-center text-wrap mb-5 pb-5">{{site.name}}</h1>
  <form action="" method="post">
    {% csrf_token %}{% for field in sign_in_form %}
    <div class="mb-3">
      <div class="mb-2">{{ field.label }}</div>
      {{ field }}
    </div>
    {% endfor %}

    {% if sign_in_form.errors %}
    {% for field in sign_in_form %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in sign_in_form.non_field_errors %}
    <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endif %}

    <input type="submit" value="Submit" class="btn btn-dark">
  </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

{% endblock content %}